@media screen and (max-width: 1440px) {
    /* General ****************************************************************/

    /* Header *****************************************************************/
    h1 {
        padding-top: 2vh;

        font-size: 4.4em;
    }

    /* Main *******************************************************************/

    /* Popup */

    /* Editor */

    /* Canvas */

    /* Picker */

    /* Footer *****************************************************************/
    footer {
        padding: 0 4vw;
    }

    .project-list-item {
        font-size: 1.2em;
    }

    .data-legal-item {
        font-size: 1.4em;
    }

    .data-social-item {
        font-size: 1.5em;
    }

    #copyright {
        font-size: 1.4em;
    }
}
