@media screen and (max-width: 767px) {
    /* General ****************************************************************/

    /* Header *****************************************************************/
    h1 {
        padding-top: 5vh;

        font-size: 2.2em;
    }

    /* Main *******************************************************************/

    /* Popup */
    .popup-icon-close {
        left: 92%;

        font-size: 3em;
    }

    #popup-editor-form {
        margin-left: 15vw;
        width: 70vw;
    }

    #popup-editor-prompt {
        font-size: 0.5em;
    }

    #popup-editor-input {
        font-size: 0.6em;
    }

    #popup-editor-submit {
        margin-top: 3vh;
        height: 4vh;

        font-size: 0.6em;
    }

    /* Editor */
    #editor {
        display: block;

        width: 100%;
    }

    .editor-button {
        font-size: 0.8em;

        margin: 0 20px;
        width: 120px;
        height: 40px;
    }

    /* Canvas */
    #canvas {
        border-width: 2px;
    }

    .pixel {
        width: 8px;
        height: 8px;
    }

    /* Picker */
    #picker {
        margin: 3vh auto;
        border-width: 2px;
        width: 164px; /* 160 (10 colours) + 2 (border) + 2 (border) */
    }

    .picker-colour {
        width: 16px;
        height: 16px;
    }

    .picker-colour-selected {
        border-width: 3px;
    }

    /* Footer *****************************************************************/
    .project-list {
        width: 100%;

        text-align: center;
    }

    .project-list-heading {
        font-size: 1.1em;
    }

    #data-legal {
        display: block;

        padding-top: 1vh;
    }

    .data-legal-item {
        margin: 4vh 0;
    }

    .data-social-item {
        margin: 0 5vh;
    }

    #data-social.data-list {
        justify-content: center;
    }

    #copyright {
        font-size: 1em;
    }
}
