/* General ********************************************************************/
* {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal; */
}

body, html {
    margin: 0;
    padding: 0;
}

/* Header *********************************************************************/
header {

}

h1 {
    margin: 0;
    padding: 1vh;

    text-align: center;
}

/* Main ***********************************************************************/
#editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editor-row {
    
}

.pixel {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.pixel-black {
    background-color: black;
}

.pixel-white {
    background-color: white;
}

.pixel-grey {
    background-color: grey;
}

.pixel-red {
    background-color: red;
}

.pixel-orange {
    background-color: orange;
}

.pixel-yellow {
    background-color: yellow;
}

.pixel-green {
    background-color: green;
}

.pixel-blue {
    background-color: blue;
}

.pixel-indigo {
    background-color: indigo;
}

.pixel-violet {
    background-color: violet;
}

/* Footer *********************************************************************/
