/* General ********************************************************************/
* {
    box-sizing: border-box;

    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal; */
}

body, html {
    margin: 0;
    padding: 0;

    font-size: 16px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

/* Header *********************************************************************/
header {
    padding: 0 8vw;
    height: 15vh;

    background-color: #222266;

    color: white;
}

h1 {
    margin: 0;
    padding: 1vh;

    font-size: 5em;
    text-align: center;
}

/* Main ***********************************************************************/
main {
    padding: 0 8vw;
    height: 85vh;

    background-color: #000044;
}

/* Popup */
#popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    /* #EEEEEE */
    background-color: rgba(238, 238, 238, 0.7);
}

.popup-hidden {
    display: none;
}

#popup-form {
    margin-top: 25vh;
    margin-left: 20vw;
    border: 2px solid black;
    border-radius: 10px;
    width: 60vw;
    height: 50vh;

    background-color: white;
    /* opacity: 1; */

    font-size: 2em;
    text-align: center; 
}

#popup-form > * {
    display: block;

    margin: 0 auto;
}

#popup-prompt {
    margin-top: 12vh;
}

#popup-input {
    margin-top: 5vh;
    border: 3px solid black;
    border-radius: 4px;
    width: 70%;
    height: 8vh;

    font-size: 1.5em;
    text-align: center;
}

#popup-submit {
    margin-top: 5vh;
    border: 2px solid black;
    border-radius: 4px;
    height: 8vh;
    width: 40%;

    background-color: #ABCDEF;

    font-size: 1.3em;
}

#popup-submit:active {
    background-color: #BCDEFF;
}

/* Editor Button */
#editor-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 auto 4vh;

}

#editor-button-size {
    
}

#editor-button-save {

}

#editor-button-clear {

}

.editor-button {
    margin: 0 20px;
    border: 2px solid black;
    border-radius: 4px;
    width: 240px;
    height: 60px;
    
    background-color: #ABCDEF;
    
    font-size: 1.2em;
}

.editor-button:active {
    background-color: #BCDEFF;
}

/* Editor */
#editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editor > #canvas {
    justify-self: center;
}

#editor > #picker {
    justify-self: end;
}

#canvas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canvas-row {
    
}

.pixel {
    border: 1px solid black;
    border-collapse: collapse;
    
    width: 16px;
    height: 16px;
}

.pixel-highlighted {
    border: 3px solid black;
}

.pixel-aqua {
    background-color: aqua;
}

.pixel-black {
    background-color: black;
}

.pixel-blue {
    background-color: blue;
}

.pixel-fuchsia {
    background-color: fuchsia;
}

.pixel-green {
    background-color: green;
}

.pixel-grey {
    background-color: grey;
}

.pixel-indigo {
    background-color: indigo;
}

.pixel-lime {
    background-color: lime;
}

.pixel-maroon {
    background-color: maroon;
}

.pixel-navy {
    background-color: navy;
}

.pixel-olive {
    background-color: olive;
}

.pixel-orange {
    background-color: orange;
}

.pixel-purple {
    background-color: purple;
}

.pixel-red {
    background-color: red;
}

.pixel-silver {
    background-color: silver;
}

.pixel-teal {
    background-color: teal;
}

.pixel-violet {
    background-color: violet;
}

.pixel-white {
    background-color: white;
}

.pixel-yellow {
    background-color: yellow;
}

/* Picker */
#picker {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;

    width: 160px
}

.picker-colour {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.picker-colour-selected {
    border-color: white;
    border-width: 5px;
}

/* Footer *********************************************************************/
footer {
    padding: 0 8vw;

    background-color: #222266;
    /* background-color: #000044; */

    color: #EEEEEE;
}

#project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border-bottom: 1px solid #AAAAAA;
    padding: 8vh 0;
}

.project-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.project-list-item {
    margin-bottom: 2vh;

    font-size: 1.3em;
}

.project-list-heading {
    margin-bottom: 4vh;

    font-size: 1.5em;
}

.project-list-link {
    color: inherit;
    text-decoration: none;
}

.project-list-link:focus, .project-list-link:hover {
    color: white;
    text-decoration: underline;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-list {
    display: flex;
}

#data-legal {
    /* justify-content: start; */
}

.data-list-item {
    list-style-type: none;
}

.data-legal-item {
    margin-right: 3vw;
    
    font-size: 1.5em;
}

.data-list-link {
    color: #AAAAAA;
    text-decoration: none;
}

.data-legal-item > .data-list-link:focus, .data-legal-item > .data-list-link:hover {
    color: white;
}

#data-social {
    /* justify-content: ; */
}

.data-social-item {
    margin-left: 3vw;

    font-size: 1.7em;
}

.fa-facebook {
    transition: color 1s linear;
}

.fa-facebook:focus, .fa-facebook:hover {
    color: #1877F2;

    transition: color 1 linear;
}

.fa-instagram {
    transition: color 1s linear;
}

.fa-instagram:focus, .fa-instagram:hover {
    color: #C13584;

    transition: color 1s linear;
}

.fa-twitter {
    transition: color 1s linear;
}

.fa-twitter:focus, .fa-twitter:hover {
    color: #1DA1F2;

    transition: color 1s linear;
}

#copyright {
    margin: 0;
    padding: 1vh 0;

    font-size: 1.6em;
    text-align: center;
}

#current-year {

}
