/* General ********************************************************************/
* {
    box-sizing: border-box;

    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal; */
}

body, html {
    margin: 0;
    padding: 0;

    font-size: 16px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

/* Header *********************************************************************/
header {
    padding: 0 8vw;
    height: 15vh;
}

h1 {
    margin: 0;
    padding: 1vh;

    font-size: 5em;
    text-align: center;
}

/* Main ***********************************************************************/
main {
    padding: 0 8vw;
    height: 85vh;
}

/* Popup */
#popup {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    /* #EEEEEE */
    background-color: rgba(238, 238, 238, 0.7);
}

.popup-hidden {
    display: none;
}

#popup-form {
    margin-top: 25vh;
    margin-left: 20vw;
    border: 2px solid black;
    border-radius: 10px;
    width: 60vw;
    height: 50vh;

    background-color: white;
    /* opacity: 1; */

    font-size: 2em;
    text-align: center; 
}

#popup-form > * {
    display: block;

    margin: 0 auto;
}

#popup-prompt {
    margin-top: 12vh;
}

#popup-input {
    margin-top: 5vh;
    border: 3px solid black;
    border-radius: 4px;
    width: 70%;
    height: 8vh;

    font-size: 1.5em;
    text-align: center;
}

#popup-submit {
    margin-top: 5vh;
    border: 2px solid black;
    border-radius: 4px;
    height: 8vh;
    width: 40%;

    background-color: #ABCDEF;

    font-size: 1.3em;
}

#popup-submit:active {
    background-color: #BCDEFF;
}

/* Editor */
#editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editor-row {
    
}

.pixel {
    border: 1px solid black;
    border-collapse: collapse;
    
    width: 16px;
    height: 16px;
}

.pixel-black {
    background-color: black;
}

.pixel-white {
    background-color: white;
}

.pixel-grey {
    background-color: grey;
}

.pixel-red {
    background-color: red;
}

.pixel-orange {
    background-color: orange;
}

.pixel-yellow {
    background-color: yellow;
}

.pixel-green {
    background-color: green;
}

.pixel-blue {
    background-color: blue;
}

.pixel-indigo {
    background-color: indigo;
}

.pixel-violet {
    background-color: violet;
}

/* Picker */
#picker {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;

    width: 320px
}

.picker-colour {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.picker-colour-selected {
    border-color: white;
    border-width: 5px;
}

/* Footer *********************************************************************/
footer {
    padding: 0 8vw;
}

#project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border-bottom: 1px solid #AAAAAA;
    padding: 8vh 0;
}

.project-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.project-list-item {
    margin-bottom: 2vh;

    color: grey;
    font-size: 1.3em;
}

.project-list-heading {
    margin-bottom: 4vh;

    color: black;
    font-size: 1.5em;
}

.project-list-link {
    color: black;
    text-decoration: none;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-list {
    display: flex;
}

#data-legal {
    /* justify-content: start; */
}

.data-list-item {
    list-style-type: none;
}

.data-legal-item {
    margin-right: 3vw;
    
    font-size: 1.5em;
}

.data-list-link {
    color: #AAAAAA;
    text-decoration: none;
}

#data-social {
    /* justify-content: ; */
}

.data-social-item {
    margin-left: 3vw;

    font-size: 1.7em;
}

#copyright {
    padding: 1vh 0;

    font-size: 1.6em;
    text-align: center;
}

#current-year {

}
