@media screen and (max-width: 1024px) {
    /* General ****************************************************************/

    /* Header *****************************************************************/
    h1 {
        padding-top: 3vh;

        font-size: 3.8em;
    }

    /* Main *******************************************************************/

    /* Popup */

    /* Editor */

    /* Canvas */

    /* Picker */

    /* Footer *****************************************************************/
    footer {
        padding: 0;
    }

    .project-list {
        margin-top: 4vh;
        width: 40%;
    }

    .project-list-item {
        font-size: 0.9em;
    }

    .project-list-heading {
        font-size: 1.2em;
    }

    #data {
        display: block;

        margin-top: 3vh;
    }

    .data-list-item {
        text-align: center;
        margin: 2vh auto;
    }

    .data-legal-item {
        font-size: 1.3em;
    }

    .data-social-item {
        font-size: 1.4em;
    }

    #copyright {
        font-size: 1.3em;
    }
}
